#main {
  margin-left: 30%;
  margin-right: 48%;
  margin-top: 5%;
  padding: 35px;
  text-align: left;
  font-size: 1.1rem;
  background-color: bisque;
}
#button {
  background-color: rgb(32, 235, 241);
  width: 120px;
  height: 30px;
  margin-top: 10px;
  border: none;
}
#todos {
  padding: 10px;
}
input {
  padding: 8px;
  margin: 10px;
}
